@font-face {
  font-family: 'Gluten';
  src: url('/Gluten/static/Gluten-Regular.ttf');
}
html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Gluten';
  background: url('/carpe-diem-background.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  scrollbar-width: none;
  letter-spacing: 0.11em;
}

.whiteboard{
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 44px;
  height: 93vh;
  width: 95%;
  margin: auto;
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  padding: 20px;
  z-index: 0;
  overflow-y: scroll;
}
.whiteboard::-webkit-scrollbar {
  display: none;
}
.sticky-note-container {
  position: absolute;
  display: block;
  z-index: 100;
  top: 0;
  right: 0;
}
.todo-card{
  max-height: 500px;
}
/* .sticky-note-container{
  max-width: 350px;
  max-height: 350px;
} */
@media (max-width: 1199px) {
  .sticky-note-container {
    position: relative;

    /* top: 0; */
  }
}
.sticky-note-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.todo-card{
  background: #E4F2FF !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  margin-bottom: 2rem;
  margin-top: 45px;
  position: relative;
  padding: 50px;
  text-overflow: clip;
}


.todo-card .card-body {
  padding: 1.25rem;
  position: relative;
}

.todo-card::after {
  content: "";
  display: block;
  top: -5px;
  left: 5px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #DBEEFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: -1; 
}
.todo-card-container{
  float: left;
  margin: 0 auto;
  z-index: 1;
}
.todo-card-clip {
  position: absolute;
  top: -65px;
  left: 50%;
  width: 87px;
  transform: translateX(-50%);
  z-index: 1;
}
.todo-add{
  background: #E4F2FF !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  margin-bottom: 2rem;
  margin-top: 45px;
  position: relative;
  padding: 10px;
}
.todo-card-calendar {
  position: absolute;
  right: -25px;
  bottom: -25px;
  width: 45px;
}
.todo-card-calendar img{
  width: 100%;
}

.todo-card-date {
  position: absolute;
  font-size: 10px;
  color: white;
  top: 12px;
}
.clear-input {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 5px;
}
.transparent-text-box {
  background-color: transparent;
  margin-top: 5px;
  border: none;
  width: 100%;
  height: 6rem;
  color: black;
}
.todo-add-categories{
  padding: 10px;
}
.btn-pill {
  border-radius: 50px;
}

.priority-btn {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.priority-btn.active {
  transform: scale(1.15);
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
}

.priority-btn:hover:not(.active) {
  transform: scale(1.05);
}

.priority-btn:focus:not(.active) {
  box-shadow: none;
}

.priority-btn:active:not(.active) {
  transform: scale(0.95);
}
.datepicker-container {
  position: relative;
  width: 200px;
  height: 30px;
}

.datepicker {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #C8D0E3;
  background-color: #C8D0E3;
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.datepicker:focus {
  outline: none;
}

.calendar-icon {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 16px;
  height: 16px;
}
.submit-form-section{
  margin-top: 25px;
  width: 100%;
}
.submit-form-section button{
  padding: 5px 25%;
}
.submit-form-section img{
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  z-index: 10;
  top: -30px;
}

.todo-buttons button{
  margin-left: 100px;
  width: 60%;
}
@media (max-width: 767px) {
  .todo-buttons button{
    margin-left: 0px;
  }
}
.todo-buttons button img{
  width: 100%;
}
.button-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  bottom: 0;
  color: #092C50;
  z-index: 1;
}

button.btn-link {
  position: relative;
}
.login-card {
  padding: 100px;
}

.form-control {
  padding: 15px;
  margin-bottom: 20px;
}
.user-button {
  float: right;
}
.radio-button {
  position: relative;
  display: inline-block;
  padding: 0px;
  background-color: transparent;
  border: none;
  border-radius: 50px;
  text-align: center;
  line-height: 1;
  cursor: pointer;
}

.radio-button.active {
  color: #fff;
}

.radio-circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 6px solid rgba(225, 201, 183, 0.7);
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 20px;
}

.radio-button:hover .radio-circle {
  background-color: #E1C9B7;
}

.radio-button.active .radio-circle {
  border: 12px solid #E1C9B7;
}

.not-found-page{
  height: 100vh;
  width: 100%;
  background-color: #FAF5EF;
}
.container-404{
  font-size: 3.5rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.big-todo-card{
  height: 90vh !important;
  background: #E4F2FF !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  margin-bottom: 2rem;
  margin-top: 60px;
  position: relative;
  padding: 50px;
  text-overflow: clip;
}
.clip-big{
  position: absolute;
  right: 70px;
  bottom: 30px;
  width: 150px;
}
.clip-big img{
  width: 100%;
}
.pen-big{
  position: absolute;
  right: 70px;
  bottom: 200px;
  width: 100px;
  border-radius: 56px;
  transform: rotate(16.5deg);
}
.pen-big img{
  width: 100%;
}
.eraser-big{
  position: absolute;
  right: 220px;
  bottom: 400px;
  width: 160px;
  transform: rotate(-17deg);
}
.eraser-big img{
  width: 100%;
}
.big-card-title{
  font-size: 96px;
}
.big-card-text{
  font-size: 36px;
}
.big-card-options{
  position: absolute;
  bottom: 20px;
  left: 0px;
  width: 100%;
}
.big-card-options button{
  padding: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  border: none;
  position: relative;
  margin: 30px;
  width: 35%;
}

@media (max-width: 1214px) {
  .eraser-big{
    display: none;
  }
  .big-card-title{
    font-size: 36px;
  }
  .big-card-text{
    font-size: 24px;
  }
}
@media (max-width: 700px) {
  .pen-big{
    display: none;
  }
  .big-card-body{
    width: 100% !important;
  }

}
@media (max-width: 1000px) {
  .clip-big{
    display: none;
  }

}
.todo-card-clip:hover{
  cursor: pointer;
}
.loader-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url('/carpe-diem-background.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  color: black;
  font-size: 1.5rem;
  z-index: 99;
}

/** Pencil Loader **/
.pencil {
  position: relative;
  width: 300px;
  height: 40px;
  transform-origin: center;
  transform: rotate(135deg);
  animation: pencil-animation 10s infinite;
}
@keyframes pencil-animation {
  0% {
    transform: rotate(135deg);
  }
  20% {
    transform: rotate(315deg);
  }
  45% {
    transform: translateX(300px) rotate(315deg);
  }
  55% {
    transform: translateX(300px) rotate(495deg);
  }
  100% {
    transform: rotate(495deg);
  }
}
.pencil__ball-point {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #09d56e;
  height: 10px;
  width: 10px;
  border-radius: 50px;
}
.pencil__cap {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  clip-path: polygon(20% 40%, 100% 0%, 100% 100%, 20% 60%);
  background: #232123;
  width: 12%;
  height: 100%;
}
.pencil__cap-base {
  position: absolute;
  left: 12%;
  top: 0;
  height: 100%;
  width: 20px;
  background: #232123;
}
.pencil__middle {
  position: absolute;
  left: calc(12% + 20px);
  top: 0;
  height: 100%;
  width: 70%;
  background: #09d56e;
}
.pencil__eraser {
  position: absolute;
  left: calc(12% + 70% + 20px);
  top: 0;
  height: 100%;
  width: 11%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #232123;
}

.line {
  position: relative;
  top: 80px;
  right: 103px;
  height: 10px;
  width: 1000px;
  z-index: 100;
  border-radius: 50px;
  background: #09d56e;
  transform: scaleX(0);
  transform-origin: center;
  animation: line-animation 10s infinite;
}
@keyframes line-animation {
  20% {
    transform: scaleX(0);
  }
  45% {
    transform: scaleX(0.6);
  }
  55% {
    transform: scaleX(0.6);
  }
  100% {
    transform: scaleX(0);
  }
}

.loader-comment {
  position: relative;
  top: 150px;
  right: 75px;
}